<div class="list-page" style="padding: 20px; text-align:center;">
    <h2>Items List</h2>

    <!-- Loading spinner -->
    <div *ngIf="loading$ | async" class="overlay">
        <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>

    <!-- Error message -->
    <div *ngIf="error$ | async as error" class="error-message">
        {{ error }}
    </div>

    <div class="cards-container">
        <mat-card *ngFor="let item of items$ | async" class="item-card">
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-content>{{ item.description }}</mat-card-content>
        </mat-card>
    </div>

    <p>
        <button mat-raised-button color="primary" routerLink="/dashboard">Back to Dashboard</button>
    </p>  
</div>
